<div class="container" ng-controller="JobsController as jctrl">         
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Company name</th>
                <th>From Date</th>
                <th>DeadLine</th>
                <th>Description</th>
                <th>Create Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng:repeat="e in jctrl.jobs">
                <td>{{e.title}}</td>
                <td>{{e.companyName}}</td>
                <td>{{e.fromDate}}</td>
                <td>{{e.toDate}}</td>
                <td>{{e.description}}</td>
                <td>{{e.createDate}}</td>
        </tbody>
    </table>
</div>